:root {
    --color-blue: rgb(61, 75, 95);
    --color-light-blue: rgb(83 94 135);
    --color-white: rgb(249, 250, 251);
    --color-red: rgb(193, 85, 78);
    --color-dark-red: rgb(147, 64, 58);
    --color-yellow: rgb(222, 160, 30);
    --color-dark-yellow: rgb(181, 131, 24);
    --color-green: rgb(0, 198, 185);
    --color-dark-green: rgb(1, 159, 148);
    --color-black: rgb(21, 21, 21);
    --border-color: rgb(203, 213, 225);
    --distance-sm: 8px;
    --distance-m: 16px;
    --distance-l: 24px;
}


/* || General styles */
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: lato-regular;
    src: url(./Lato-Regular.ttf);
}

html, 
body {
    height: 100vh;
}

body {
    background-color: var(--color-white);
    font-family: lato-regular, sans-serif, Arial;
    display: grid;
    grid-template-rows: min-content 1fr;
}

h1 {
    font-size: 4rem;
    color: var(--color-blue);
}


/* || Sitewide */
header {
    display: grid;
    justify-content: center;
    text-align: center;
    row-gap: var(--distance-m);
}

.container {
    padding: var(--distance-l);
}


/* || Cards / Books */
.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: var(--distance-l);
}

.book {
    border: 2px solid var(--border-color);
    padding: var(--distance-m);
    display: flex;
    flex-direction: column;
    gap: var(--distance-m);
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

/* || Form / Add book */
.btn {
    border: none;
    padding: var(--distance-m);
    background-color: var(--color-blue);
    color: var(--color-white);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color-light-blue);
}

.btn-red {
    background-color: var(--color-red);
    color: var(--color-white);
    padding: var(--distance-sm);
}

.btn-red:hover {
    background-color: var(--color-dark-red);
}

.btn-green {
    background-color: var(--color-green);
    color: var(--color-black);
    padding: var(--distance-sm);
    min-width: 80px;
}

.btn-green:hover {
    background-color: var(--color-dark-green);
    color: var(--color-white);
}

.btn-yellow {
    background-color: var(--color-yellow);
    color: var(--color-black);
    padding: var(--distance-sm);
    min-width: 80px;
}

.btn-yellow:hover {
    background-color: var(--color-dark-yellow);
    color: var(--color-white);
}

.form-book {
    display: grid;
    gap: var(--distance-m);
}

.form-row > label,
.form-row > p {
    text-align: start;
    display: block;
    margin-bottom: var(--distance-sm);
}

.form-row input[type=text],
.form-row input[type=number] {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--color-blue);
    padding: var(--distance-sm);
    font: inherit;
}

.checkbox {
    display: flex;
    justify-content: center;
    gap: 18px
}

.form {
    display: none;
}

.form[open] {
    animation: slide-down 1000ms forwards, fade-in 500ms forwards;
}

.form[close] {
    animation: slide-up 1000ms forwards, fade-out 500ms forwards;
}

/* || Animations */
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(10%);
    }
}

@keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}